*{
	margin: 0;
	padding: 0;
    box-sizing: border-box;
    font-family: 'Catamaran', sans-serif;
}
.container{
	background-image: url(images/bg9.jpg);
	background-size: cover;
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.bt{
	align-items: left;
     margin: 30px 0 0 160px;
 }
.bt a{
	text-align: center;
	text-decoration: none;
	width: 150px;
	margin: 0 10px;
	padding: 5px;
	display: inline-block;
	border: 2px solid white;

	color: white;
	font-size: 1.3rem;
	font-weight: bold;
	position: relative;
	z-index: 1;
    transition: color 0.5s;
}
.bt a span{
	width: 100%;
	height: 0;
	position: absolute;
	top: 0;
	left: 0;
	background-color:white;
	z-index: -1;
	transition: 0.5s;
}
.bt a:hover span{
      height: 100%;
}
.bt a:hover{
	color: black;
	box-shadow:2px 2px 18px 9px white;
	transition: 0.7s;

}
.online_booking{
	height:90vh;
	display:flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
h2{
	color: white;
}
 form{
	width: 50%;
	height: 70%;
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items:flex-start;
	flex-direction: column;
	border-radius: 15px;
	position: relative;
}
input{
	font-size: 1.2rem;
	margin: 10px;
	width: 90%;
	height: 30px;
	outline: none;
	border: 1px solid black;
	padding: 6px;
	border-radius: 5px;
	background-color: white;
}
input:hover{
	border: 1px solid black;
}
textarea{
	margin: 10px;
	width:40%;
	height: 25%;
	padding: 5px;
	border: 1px solid black;
	background-color: white;
	font-size: 1.2rem;
	border-radius: 5px;
	font-weight: bold;
}
label{
	font-size: 1.3rem;
	color: white;
	font-weight: bold;
}
.file{
	text-align: center;
	width: 38%;
	height: 40px;
	position: absolute;
	bottom: 74px;
	right: 65px;
	font-size: 1.0rem;
}
.label{
	position: absolute;
	bottom: 135px;
	right: 25%;
	font-size: 1.2rem;
}
.btn{
	font-size: 1.3rem;
	font-weight: bold;
    position: absolute;
    margin: 0 0 -30px 0;
    bottom: 0px;
    left: 40%;
	width: 100px;
	height: 50px;
	background-color: transparent;
	color: white;
	border: 2px solid white;
	cursor: pointer;
	outline: none;

}
.btn:hover{
	background-color: white;
	color: black;
	border: white;
}
#test{
	width: 90%;
	height: 30px;
	margin-left: 10px;
	border: 1px solid black;
	border-radius: 5px;
	font-size: 1.1rem;
}


/*---------------Responsive Part-----------------*/

@media screen and (max-width: 770px){
     .container{
       height: 110vh;
	}
     .bt{
     	margin: 15px auto;
     }
     h2{
     	margin-top: 10px;
     	font-size: 1.3rem;
     }
     form{
     	width: 100%;
     }
     input{
     	width: 100%px;
     	font-size: 1.1rem;
     }
     textarea{
     	margin-top: 10px;
     	width: 90%;
     }
     .file{
     	position: absolute;
     	top: 95%;
     	left: 10px;
     	width: 85%;
     	
     }
     .label{
     	position: absolute;
     	top: 90%;
     	left: 10px;
     }
     .btn{
     	margin: 20px;
     	padding: 2px;
     	height: 35px;
     	font-size: 1.0rem;
     	 position: absolute;
     	 top: 105%;
     	 left: 25%;
     }
}